@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
    @Styles.Render("~/Content/app")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div style="margin-left: auto; margin-right: auto; width: 1100px; position: relative;">
        <div class="btn-group" id="topics">
        </div>
    </div>
    <!-- the page is fixed layout -->
    <div style="margin-left: auto; margin-right: auto; width: 1100px; position: relative;">
        <div id="map-column">
        </div>
        <div id="charts">
        </div>
    </div>

    <div class="hidden">
        <div id="template-map">
            <div class="ot-map">
                this is a map
            </div>
        </div>
        <div id="template-timeseries">
            <div class="ot-timeseries">
                this is a timeseries
            </div>
        </div>
        <div id="template-barchart">
            <div class="ot-barchart">
                this is a barchart
                <div>
                    <button type="button" class="btn btn-sm" data-command="barchartSelect">Push</button>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
</body>
</html>
